@media only screen and (max-width: 1200px) {
    div.Box1 {
        background-image: url(../images/PACT-smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box2 {
        background-image: url(../images/CSA-smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box3 {
        background-image: url(../images/SIP-smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box4 {
        background-image: url(../images/Sonder-smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box1:hover {
        background-image: url(../images/PACT-Hover-Smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box2:hover {
        background-image: url(../images/CSA-Hover-Smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box3:hover {
        background-image: url(../images/SIP-Hover-Smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box4:hover {
        background-image: url(../images/Sonder-Hover-Smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    footer.footer {
        color: white;
        font-size: 18px;
    }
    div.footerLeft {
        margin-left: 30px;
    }
    div.footerRight {
        margin-right: 30px;
    }
    h1.title {
        font-size: 10px;
    }
    a#scroll {
    margin-top: 60px;
    }
    div.HeroText {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and (max-width: 910px) {
    div.logo {
        display: none;
    }
    div.logoMedium {
        margin-left: 50px;
        height: 90px;
        width: 90px;
        float: left;
        margin-top: 45px;
        background-image: url(../images/Logo-MEDIUM.png);
    }
    ul {
        margin-right: 20px;
        float: right;
    }
    li.inline-block {
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
    div.HeroText {
        font-size: 38px;
        margin-left: 20px;
    }
    p.Paragraph {
        font-size: 22px;
        margin-right: 50px;
    }
    section.CaseStudiesThumbnail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.Row1 {
        margin-top: 300px;
    }
    div.Box1 {
        height: 540px;
        width: 540px;
        background-image: url(../images/PACT.png);
        margin: 15px;
    }
    div.Box1:hover {
        background-image: url(../images/PACT-Hover.png);
        height: 540px;
        width: 540px;
        margin: 15px;
    }
    div.Box2 {
        height: 540px;
        width: 540px;
        background-image: url(../images/CSA.png);
        margin: 15px;
    }
    div.Box2:hover {
        background-image: url(../images/CSA-Hover.png);
        height: 540px;
        width: 540px;
        margin: 15px;
    }
    div.Box3 {
        height: 540px;
        width: 540px;
        background-image: url(../images/SIP.png);
        margin: 15px;
    }
    div.Box3:hover {
        background-image: url(../images/SIP-Hover.png);
        height: 540px;
        width: 540px;
        margin: 15px;
    }
    div.Box4 {
        height: 540px;
        width: 540px;
        background-image: url(../images/Sonder.png);
        margin: 15px;
    }
    div.Box4:hover {
        background-image: url(../images/Sonder-Hover.png);
        height: 540px;
        width: 540px;
        margin: 15px;
    }
    footer.footer {
        color: white;
        font-size: 14px;
    }
    a#scroll {
        margin-top: 100px;
        }
    }

  @media only screen and (max-width: 700px) {
    div.logoMedium {
        display: none;
    }
    div.logoSmall {
        margin-left: 20px;
        height: 70px;
        width: 70px;
        float: left;
        margin-top: 45px;
        background-image: url(../images/Logo-SMALL.png);
    }
    ul {
        margin-right: 10px;
        float: right;
    }
    li.inline-block {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    div.HeroText {
        font-size: 28px
    }
    p.Paragraph {
        font-size: 18px;
    }
    footer.footer {
        font-size: 10px;
    }
    div.footerLeft {
        margin-left: 10px;
    }
    div.footerRight {
        margin-right: 10px;
    }
    section.CaseStudiesThumbnail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.Row1 {
        margin-top: 300px;
    }
    div.Box1 {
        background-image: url(../images/PACT-smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box2 {
        background-image: url(../images/CSA-smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box3 {
        background-image: url(../images/SIP-smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box4 {
        background-image: url(../images/Sonder-smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box1:hover {
        background-image: url(../images/PACT-Hover-Smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box2:hover {
        background-image: url(../images/CSA-Hover-Smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box3:hover {
        background-image: url(../images/SIP-Hover-Smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    div.Box4:hover {
        background-image: url(../images/Sonder-Hover-Smaller.png);
        height: 400px;
        width: 400px;
        margin: 10px;
    }
    a#scroll {
        margin-top: 120px;
        }
}

*{
    margin: 0;
    padding: 0;
}
nav {
    height: 1px;
    background-color: white;
}
.logo {
    float: left;
    margin-left: 94px;
    margin-top: 23px;
    height: 143px;
    margin-bottom: 25px;
}
ul {
    margin-right: 62px;
    float: right;

}
.inline-block {
    display: inline-block;
    padding: 31px;
    background-color: white;
    text-align: center;
    margin-top: 23px;
    margin-bottom:102px; 
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}
.active {
    text-decoration: underline #480080 4px;
    text-underline-offset: 5px;
    text-underline-position: under;
}
.inactive:hover {
    cursor: pointer;
    color: #480080;
}
.HeroText {
    margin-top: 220px;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    padding-left: 100px;
    padding-right: 100px;
}
.Header {
    white-space: nowrap
}
.title {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    margin-top: 5px;
}
.Paragraph {
    position: absolute;
    font-size: 24px;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    margin-right: 100px;
    margin-top: 15px;
}
.CaseStudiesThumbnail {
    display: flex;
    justify-content: center;
}
.Row1 {
    margin-top: 220px;
}
.Box1 {
    height: 540px;
    width: 540px;
    background-image: url(../images/PACT.png);
    margin: 15px;
    cursor: pointer;
}
.Box1:hover {
    background-image: url(../images/PACT-Hover.png);
    transition: 0.3s;
}
.Box2 {
    height: 540px;
    width: 540px;
    background-image: url(../images/CSA.png);
    margin: 15px;
    cursor: pointer;
}
.Box2:hover {
    background-image: url(../images/CSA-Hover.png);
    transition: 0.3s;
}
.Box3 {
    height: 540px;
    width: 540px;
    background-image: url(../images/SIP.png);
    margin: 15px;
    cursor: pointer;
}
.Box3:hover {
    background-image: url(../images/SIP-Hover.png);
    transition: 0.3s;
}
.Box4 {
    height: 540px;
    width: 540px;
    background-image: url(../images/Sonder.png);
    margin: 15px;
    cursor: pointer;
}
.Box4:hover {
    background-image: url(../images/Sonder-Hover.png);
    transition: 0.3s;
}

.footer {
   margin-top: 100px;
   height: 100px;
   line-height: 100px;
   text-align: center;
   background-color: #200039;
   width: 100%;
   color: white;
   font-size: 22px;
   font-family: 'Roboto Mono', monospace;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-areas:
   "footerLeft footerRight";
}
.footerLeft {
    grid-area: footerLeft;
    text-align: left;
    margin-left: 40px;
}

.footerRight {
    grid-area: footerRight;
    cursor: pointer;
    text-align: right;
    margin-right: 40px;
}
a {
    text-decoration: none;
    color: black;
  }

a:hover {
    color: #480080;
}
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) } 
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }

  .wave:hover {
    animation-name: wave-animation-hover;
    animation-duration: 2.5s;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation-hover {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}
.scroll {
    margin-top: 290px;
    display: flex;
    justify-content: center;
    justify-items: center;
}